body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
